%div.show-for-small{style:"background:#e7e7e7;"}
  .row
    .large-12.columns
      %h1{style:"font-size:24px; padding:20px; text-align:center;"} 
        Premium Denim 
        %br
        Made in the USA 
        %br
        Starting at $81

%ul.homepage-carousel{"data-orbit"=>"", "data-options"=>"slide_number:false;"}
  %li.slide1
    = image_tag "welcometo_alt.jpg", alt:"slide 1"
    .slide-content.show-for-medium-up
      %h1 Premium Denim
      %h1.show-for-large-up Made in the USA
      %h1 Starting at $81
      %p.show-for-large-up
        We're redefining premium menswear by cutting out the middle men. Made with the highest quality materials and shipped straight to your doorstep.
      %a.button{href:"/shop"}
        Shop Our Styles
    .show-for-small{style:"position:absolute; top:25px; text-align:center; width:100%;"}
      %a.button{href:"/shop", style:"display:inline-block;"}
        Shop Our Styles
  %li
    = image_tag "button_down_alt.jpg", alt:"slide 2"
  %li
    = image_tag "how_it_works.jpg", alt:"slide 3"

.row
  .large-12.columns
    .section-header
      %h2
        People are Talking
.row
  .large-12.columns{style:"padding:30px;"}
    .row
      .large-3.small-6.columns{style:"padding-top:10px"}
        %a.quote{href:"http://www.weftyandmash.com/2013/01/review-gustin-quality-garments.html", style:"font-size:1.1rem; line-height:1.5rem;", target:"blank"}
          &ldquo;These jeans have the sort of quality in construction that I would expect from a $250+ pair of jeans.&rdquo;

      .large-3.small-6.columns
        %a.quote{href:"http://fromsqualortoballer.com/post/52141978351/gustinreview", style:"line-height:1.4rem;", target:"blank"}
          &ldquo;Made alongside other brands that cost significantly more, right here in San Francisco. There is no reduction in material or construction quality.&rdquo;

      .large-3.small-6.columns.hide-for-small{style:"padding-top:25px"}
        %a.quote{href:"http://thesilentist.com/post/46942845387/review-gustin-denim", style:"font-size:1.5rem; line-height:1.7rem;", target:"blank"}
          &ldquo;I’m obsessed with these buttons&rdquo;

      .large-3.small-6.columns.hide-for-small
        %a.quote{href:"http://venturebeat.com/2013/04/01/gustins-crowdsourced-clothing-line-brings-innovation-into-your-pants/", style:"font-size:1.3rem; line-height:1.6rem;", target:"blank"}
          &ldquo;Transparency, authenticity, and quality are central to the fabric of the company.&rdquo;

.row
  .large-12.columns
    .large-2.small-4.columns.boast-logo
      %a{href:"http://www.rawrdenim.com/2013/01/gustin-hand-crafted-crowd-sourced-delivered-to-you-denim/", target:"blank"}
        = image_tag "rawr-denim.png"
    .large-2.small-4.columns.boast-logo
      %a{href:"http://www.esquire.com/blogs/mens-fashion/gustin-jeans-010713", target:"blank"}
        = image_tag "esquire.png"
    .large-2.small-4.columns.boast-logo
      %a{href:"http://putthison.com/post/40528805161/kickstarter-of-interest-gustin-denim-last-week-a", target:"blank"}
        = image_tag "put-this-on.png"
    .large-2.small-4.columns.boast-logo
      %a{href:"http://uncrate.com/stuff/gustin-denim/", target:"blank"}
        = image_tag "uncrate.png"
    .large-2.small-4.columns.boast-logo
      %a{href:"http://www.kickstarter.com/projects/weargustin/gustin-redefining-premium-menswear-starting-with-d", target:"blank"}
        = image_tag "kickstarter.png"
    .large-2.small-4.columns.boast-logo
      %a{href:"http://network.details.com/post/gustin-denim-creates-a-new-way-to-buy-jeans", target:"blank"}
        = image_tag "details.png"

.row
  .small-12.columns{style:"padding:60px 0 40px 0; text-align:center;"}
    %a.button{href:"/shop"}
      See for yourself

%div{style:"background:#e7e7e7; margin-top:50px;"}
  .row
    .medium-12.columns{style:"padding-top:30px;"}
      .section-header
        %h2
          Exceptional Fit &amp; Finish
  .row
    .medium-12.columns{style:"text-align:center;"}
      %ul.button-group.fit-toggle{style:"display:inline-block;"}
        %li
          %a.button.small.active.classic-toggle{href:"#", style:"margin-bottom:0;"}
            Classic
        %li
          %a.button.small.slim-toggle{href:"#", style:"margin-bottom:0;"}
            &nbsp;Slim&nbsp;
  .row
    .medium-6.medium-centered.columns{style:"font-size:1.2rem; line-height:1.7rem; text-align:center; padding:10px 0 30px 0;"}
      .classic-fit
        The perfect, classic straight leg fit. Not too skinny, not too loose; with a rise that is just right, but not super low.
      .slim-fit{style:"display:none;"}
        The modern slim cut. A lower rise that sits on the hips, trimmer thigh and knee, and there is a slight taper to the cuff.
  .row{style:"padding-bottom:50px;"}
    .medium-3.columns{style:"text-align:right;"}
      .show-for-medium-up
        .info-p.info-tucked-loops Tucked belt loops
        .info-p.info-buttons Heavy-duty, custom buttons
        .info-p.info-denim Denim from Cone Mills White Oak plant in Greensboro, North Carolina
        .info-p.info-chainstitch Chainstitched waistband and cuffs
    .medium-6.columns{style:"position:relative; padding-bottom:10px;"}
      .classic-fit
        = image_tag "classic_fit.png", style:"width:100%;"
      .slim-fit{style:"display:none;"}
        = image_tag "slim_fit.png", style:"width:100%;"
      .dot-overlay{style:"position:absolute; top:0; left:0; width:100%; height:100%;"}
        .info-dot.info-denim
          .info-pic{style:"display:none;"}
            = image_tag "features/denim.jpg"
        .info-dot.info-buttons
          .info-pic{style:"display:none;"}
            = image_tag "features/buttons.jpg"
        .info-dot.info-tucked-loops
          .info-pic{style:"display:none;"}
            = image_tag "features/tucked-loops.jpg"
        .info-dot.info-chainstitch
          .info-pic{style:"display:none;"}
            = image_tag "features/chainstitch.jpg"
        .info-dot.info-patch
          .info-pic{style:"display:none;"}
            = image_tag "features/patch.jpg"
        .info-dot.info-beltloop
          .info-pic{style:"display:none;"}
            = image_tag "features/beltloop.jpg"
        .info-dot.info-rivets
          .info-pic{style:"display:none;"}
            = image_tag "features/rivets.jpg"
        .info-dot.info-pockets
          .info-pic{style:"display:none;"}
            = image_tag "features/pockets.jpg"
        .info-dot.info-crafted
          .info-pic{style:"display:none;"}
            = image_tag "features/crafted.jpg"
    .medium-3.columns
      .show-for-medium-up
        .info-p.info-patch San Francisco made leather patch
        .info-p.info-beltloop Selvege side beltloop
        .info-p.info-rivets Custom shaped Gustin rivets
        .info-p.info-pockets Half-lined back pockets
        .info-p.info-crafted Hand crafted in San Francisco
    .small-12.show-for-small.columns
      .info-p.info-tucked-loops Tucked belt loops
      .info-p.info-buttons Heavy-duty, custom buttons
      .info-p.info-denim Denim from Cone Mills White Oak plant in Greensboro, North Carolina
      .info-p.info-chainstitch Chainstitched waistband and cuffs
      .info-p.info-patch San Francisco made leather patch
      .info-p.info-beltloop Selvege side beltloop
      .info-p.info-rivets Custom shaped Gustin rivets
      .info-p.info-pockets Half-lined back pockets
      .info-p.info-crafted Hand crafted in San Francisco
    .small-12.medium-6.medium-centered.columns{style:"text-align:center; padding-top:20px;"}
      Learn more about our fit and how to size yourself on our 
      %a{href:"/fit-guide", style:"text-decoration:underline;"} fit guide

%div{style:"margin-top:10px;"}
  .row
    .large-12.columns{style:"padding-top:30px;"}
      .section-header
        %h2
          In the Wild
  .row
    .medium-6.medium-centered.columns{style:"font-size:1.2rem; line-height:1.7rem; text-align:center; padding:10px 0 30px 0;"}
      At Gustin, we love our community of customers and pride ourselves on their satisfaction. In return, they do awesome things like instagram their Gustin duds. So don't take it from us that our apparal looks awesome, see for yourself. 
  .horizontal-scroller{style:"width:100%; height:300px; overflow:scroll;"}
    .scroller-container{style:"height:300px; width:6100px; overflow:hidden;"}
      = image_tag "instagram/1.jpg"
      = image_tag "instagram/2.jpg"
      = image_tag "instagram/3.jpg"
      = image_tag "instagram/4.jpg"
      = image_tag "instagram/5.jpg"
      = image_tag "instagram/6.jpg"
      = image_tag "instagram/7.jpg"
      = image_tag "instagram/8.jpg"
      = image_tag "instagram/9.jpg"
      = image_tag "instagram/10.jpg"
      = image_tag "instagram/11.jpg"
      = image_tag "instagram/12.jpg"
      = image_tag "instagram/13.jpg"
      = image_tag "instagram/14.jpg"
      = image_tag "instagram/15.jpg"
      = image_tag "instagram/16.jpg"
      = image_tag "instagram/17.jpg"
      = image_tag "instagram/18.jpg"
      = image_tag "instagram/19.jpg"
      = image_tag "instagram/20.jpg"
  .row
    .medium-6.medium-centered.columns{style:"font-size:1.2rem; line-height:1.7rem; text-align:center; padding:30px 0 50px 0;"}
      Explore more pictures and star the shots you like in our Gustin + You section. 


%div{style:"background:#e7e7e7;"}
  %footer.row
    .large-12.columns
      .row{style:"margin-top:40px;"}
        .large-6.columns
          %p © Gustin
        .large-6.columns
          %ul.inline-list.right
            %li
              %a{href: "#"} Contact
            %li
              %a{href: "#"} Fit Guide
            %li
              %a{href: "#"} Gift Cards
            %li
              %a{href: "#"} Experience
            %li
              %a{href: "#"} Press
            %li
              %a{href: "#"} Privacy Policy

:javascript
  initHeight = $()
  $("ul.homepage-carousel").css({"height": $(".slide1 img").height() + "px"});
  $(".fit-toggle a").click(function(e){
    $(".fit-toggle a").toggleClass("active");
    if ($(this).hasClass("classic-toggle")){
      $(".classic-fit").show();
      $(".slim-fit").hide();
    } else{
      $(".slim-fit").show();
      $(".classic-fit").hide();
    }
    e.preventDefault();
  });
  $(".info-p, .info-dot").hover(function(e){
    infoClass = $(this).attr('class').split(' ')[1];
    if ($(this).hasClass("info-p")){
      infoType = ".info-dot."
    } else{
      infoType = ".info-p."
    }
    $(infoType + infoClass).toggleClass("hover-on");
    $(".info-dot." + infoClass + " .info-pic").fadeToggle();
  });